@font-face {
    font-family: ibm;
    src: url(../../Framework/font/Anuphan-Medium.ttf);
}

:root {
    --color-primary: #FF1493;
}

::-webkit-scrollbar {
    background-color: white;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-primary);
}

body,
html {
    font-family: ibm;
}

.bg-pink {
    background-color: var(--color-primary);
}

.logo {
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.round {
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-primary);
    border: 5px solid var(--color-primary);
    padding: 5px;
    font-size: 31px;
    height: 130px;
    width: 130px;
    box-shadow: 0 2px 4px darkslategray;
    transition: .3s;
}

.round:hover {
    background-color: var(--color-primary);
    color: white;
    box-shadow: 5px 5px 10px rgba(47, 79, 79, 0.662);
}

.round p {
    color: var(--color-primary);
    transition: .3s;
}

.round:hover p{
    color: white !important;
}

.text-round {
    color: var(--color-primary);
}

.footer {
    background-color: var(--color-primary);
}

.calendar {
    border-radius: 15px;
    padding-top: 1%;
}

marquee {
    background-color: var(--color-primary);
    color: #fff;
    padding: 5px 10px 5px 10px;
}

.dropdown-menu {
    background-color: var(--color-primary);
}

.dropdown-item {
    color: #fff;
}