.logo-learntogether {
    background-image: url(../../img/learntogether\ logo.png);
}

.image-container {
    position: relative;
    /* Make the container relative for positioning */
    width: 100%;
    /* Set the container width to 100% */
    height: 100%;
    /* Set the container height to 100% */
}

.image {
    position: absolute;
    /* Position the image absolutely */
    top: 0;
    /* Place the image at the top */
    left: 0;
    /* Place the image at the left */
    width: 100%;
    /* Make the image width 100% */
    height: 100%;
    /* Make the image height 100% */
    object-fit: cover;
    /* Maintain aspect ratio and cover the frame */
}