@font-face {
    font-family: ibm;
    src: url(../Framework/font/IBMPlexSansThai-Medium.ttf);
}

:root {
    --color-primary: #FF1493;
}

body {
    font-family: ibm;
    background-image: url(./Imge/paper-2631126.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mt-6 {
    margin-top: 10% !important;
}

.button {
    box-shadow: 0px 0px 1px black;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    border: 4px solid #FFF18D;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: var(--color-primary);
    text-decoration: none;
}