:root {
    --color-primary: #FF1493;
}

.box {
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 7px 5px 33px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 5px 33px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 5px 33px -9px rgba(0, 0, 0, 0.75);

}

.box-input {
    border-radius: 15px;
}

body {
    background-image: url(../../img/bg.jpg) !important;
}